<header class="row">
    <div class="col-md-12">

        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fas fa-bars"></i>
        </button>


        <div class="header-logos">
       <a href="/"><img src="${server_base}static/yoxview/images/transp_judaica_labs.png" alt="JudaicaLink labs logo" class="logo"/></a>


    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img src="${server_base}static/yoxview/images/fid-logo.jpg" alt="FID logo" class="logofid"/></a>
        </div>

    </div>
    <a href="https://github.com/wisslab/judaicalink-pubby" target="_blank"><img id="forkmeongithub" src="${server_base}static/yoxview/images/forkme-on-github_grey.png" alt="Fork me on GitHub"></a>
</header>


